@import url('https://fonts.googleapis.com/css2?family=Asimovian&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Mountains+of+Christmas:wght@400;700&family=Raleway:ital,wght@0,100..900;1,100..900&family=TASA+Explorer:wght@400..800&display=swap');

body {
    background-color: red;
    margin: 0;
}

footer {
    background-color: rgb(131, 0, 0);
    width: 100vw;
    height: 8vh;
    position: absolute;
    margin-top: 92vh;
    z-index: 5;
}

.dikt-sidmeny {
    width: 30vw;
    height: 92vh;
    background-color: rgb(30, 255, 0);
    position: absolute;
    margin-left: 70%;
    z-index: 2;
}

.dikt-sidmeny h1 {
    position: relative;
    width: 100%;
    font-size: 3vw;
    text-align: center;
    font-family: "Mountains of Christmas";
    z-index: 2;
}

.dikt-sidmeny p {
    position: relative;
    width: 100%;
    font-size: 1.7vw;
    text-align: center;
    font-family: "Mountains of Christmas";
    z-index: 2;
}

.tree {
    position: absolute;
    width: 34%;
    height: 100vh;
    left: 47%;
    top: -2.5%;
    z-index: 2;
}

.snowflake {
    animation-name: snow-fall;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    position: absolute;
    color: white;
    z-index: 4;
    font-size: 250%;
}

@keyframes snow-fall{
    0% {
        top: -10%;
        left: 20%;
        animation-timing-function: linear;
    }

    50% {
        top: 50%;
        left: 25%;
        transform: rotate(20deg);
    }

    100% {
        top: 95%;
        left: 20%;
        transform: rotate(30deg);
    }
}